#root {
  display: grid;
  grid-template-columns: 16.5rem 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
  "sidebar header"
  "sidebar issues";
  column-gap: 10px;
  row-gap: 10px;
  height: 100vh;
}

/* ---- Sidebar ---- */
.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
  "logo"
  "categories";
}

.logo {
  grid-area: logo;
  margin-top: 0.4rem;
  text-align: center;
}

.categories {
  grid-area: categories;
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
  overflow-y: auto;
  scrollbar-width: none;
}

.category-item {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 18px;
  text-align: center;
}

.category-item:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

/* ---- Header ---- */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search {
  width: 25rem;
  margin-left: 6rem;
  padding: 0.5rem;
}


/* ---- Issues ---- */
.issues {
  grid-area: issues;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.issue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 23rem;
  min-width: 18rem;
  width: 20%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: rgba(52, 50, 50, 0.55);
  box-shadow: 0 0 1rem #cfe2cfaa;
  transition: all 0.5s ease-in-out;
}